$cal-margin: 1px;
$cal-size: 100px;
$max-margin: 606px;

$day:
  (
    "28": 28,
    "29": 29,
    "30": 30,
    "31": 31,
  );

$days:
  (
    "sun": $max-margin,
    "sut": $max-margin - ($cal-size + $cal-margin)*1,
    "fri": $max-margin - ($cal-size + $cal-margin)*2,
    "thu": $max-margin - ($cal-size + $cal-margin)*3,
    "wed": $max-margin - ($cal-size + $cal-margin)*4,
    "tue": $max-margin - ($cal-size + $cal-margin)*5,
    "mon": $max-margin - ($cal-size + $cal-margin)*6
  );
